<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Player Server</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>App Player Server</h1>
        <p class="status">Estado: Funcionando 🚀</p>

        <div class="info">
            <h2>Información del Servidor</h2>
            <p><strong>Puerto:</strong> {{port}}</p>
            <p><strong>Directorio de Videos:</strong> {{directorioVideos}}</p>
        </div>

        <div class="network-info">
            <h2>Información de Red</h2>
            <div id="network-info">{{networkInfo}}</div>
        </div>

        <div class="footer">
            <p>WeTechar App Player - Versión 1.0.0</p>
            <p>© {{year}} WeTechar. Todos los derechos reservados.</p>
        </div>
    </div>

    <script>
        // Parsear la información de networkInfo
        const networkInfo = JSON.parse('{{networkInfo}}');
        const networkInfoDiv = document.getElementById('network-info');

        // Mostrar la información de cada interfaz
        for (const [interfaceName, details] of Object.entries(networkInfo)) {
            const interfaceDiv = document.createElement('div');
            interfaceDiv.innerHTML = `<strong>${interfaceName}</strong>: MAC: ${details.mac}, IP: ${details.ip}`;
            networkInfoDiv.appendChild(interfaceDiv);
        }
    </script>
</body>

</html>